/**
 * Feuille de style CSS spécifique à l'applicatif, ce script est destiné à être
 * appelé en dernier dans la pile des fichiers CSS.
 *
 * @package openaria
 * @version SVN : $Id: app.css 2202 2013-03-28 17:30:48Z fmichon $
 */

/**
 * ADVS_SEARCH - highlight.
 */
.advs-active-field-search {
  border: 1px solid #2270C3;
}
.advs-unvalidate-field-search {
  border: 1px solid #e9773e !important;
}

/*
 * On cache toutes les première colonnes de tableau. En effet, toutes ces 
 * colonnes contiennent des identifiants numériques qui ne sont absolument 
 * pas fonctionnels et donc inutiles pour l'utilisateur.
 */
table.tab-tab tr.tab-title th.firstcol,
table.tab-tab tr.tab-data td.firstcol { 
  display: none; 
}
/* Désactivé pour les tableaux reqmo ainsi que le SWROD Listing des 
pièces du guichet unique ainsi que pour tous les écrans de 
"administration et paramétrage"*/
body.mainrubrik-administration-parametrage table.tab-tab tr.tab-title th.firstcol,
body.mainrubrik-administration-parametrage table.tab-tab tr.tab-data td.firstcol,
#reqmo-out table.tab-tab tr.tab-title th.firstcol,
table.tab-tab.document_numerise tr.tab-title .firstcol,
table.tab-tab.document_numerise tr.tab-data .firstcol {
  display: table-cell;
}

/* On supprime l'affichage du logo tant qu'il n'y en a pas pour l'application */
#logo span.logo {
    background-image: none;
    display: inline;
}
.form--piece .field div.form-libelle { width: 150px; }
/*
 * Logo
 */
#formulaire .ui-tabs-selected.ui-state-active a { color:#2270C3; }

/*
 * Police à chasse fixe pour les textarea
 */
textarea { font-family: monospace !important; }

.field-type-textareahiddenstatic {
    display: none;
}

/*
 * Titre
 */
#title { min-height: 18px; }
#title h2 { text-transform: capitalize; }

/*
 * Menu
 */
#menu li.elem.ui-state-focus { background-color:#2270C3; background-image: none; font-weight: normal; }
#menu li.elem.category:hover { background-color: #E2E2E2; }
.rubrik { text-transform: capitalize; }
#menu h3 a { margin-left: 5px; background-image: none; }

/*
 * Onglets
 */
.ui-tabs-nav li { text-transform: capitalize; }

/*
 * Overlay
 */
.ui-widget-overlay {
    opacity: 0.75;
}

/**
 * Masquer les identifiants quand on ne les veut pas dans les tableaux
 */
#tab-dossier table .firstcol,
#tab-logo table .firstcol,
#sousform-contact table .firstcol {
    display: none;
}

span.di-libelle {
  white-space: nowrap;
}

/**
 * Les enregistrements clôturés sont identifiés dans les listings
 * de DC & les listing de DI. 
 */
tr.tab-data.dc-cloture td,
tr.tab-data.di-cloture td {
    background-color: #cdcdcd;
    color: #434343;
}
tr.tab-data.dc-cloture td a,
tr.tab-data.di-cloture td a {
    color: #434343;
}

#tab-etablissement td.col-1 {
    text-align:left !important;
}
#tab-etablissement td.col-2 {
    white-space: nowrap;
}

/**
 * Les enregistrements non lu sont identifiés dans les listings
 * de documents entrants.
 */
tr.tab-data.document-entrant-non-lu td,
tr.tab-data.document-entrant-non-lu td a {
    font-weight: bold;
}

/**
 * FORM - Switch Consulter/Géolocaliser
 */
#switch-geolocaliser-consulter {
  display: inline-block;
  height: 30px;
  margin-top:3px;
  padding: 4px;
  background: #fff;
  border-radius: 2px;
  width: 300px;
  border-radius: 30px;
  border: solid 1px #ddd;
  position: relative;
}
#switch-geolocaliser-consulter .switcher__label {
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}
#switch-geolocaliser-consulter .switcher__label.selected a {
  color: #fff;
}
#switch-geolocaliser-consulter .switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  background-color: #5489c6;
  border-radius: 30px;
  left: 5px;
  top: 4px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}
#switch-geolocaliser-consulter .switcher__toggle.geolocaliser {
  left: 150px;
}

/**
 * Formulaires
 */
.floatleft {
    float: left;
}

/* suivi de ligne entre le libellé et la valeur */
.field div.form-libelle,
div.bloc > div.bloc.group > div.field > div.form-libelle {
    border-bottom: 1px dotted #cccccc;
}
/* Ajout d'un espacement entre le titre et la valeur */
.field div.form-content,
div.bloc > div.bloc.group > div.field > div.form-content {
    padding-left: 5px;
}

/* pointillés entre le libellé et la valeur associée */
.bloc-titre {
    font-weight: inherit;
    border-bottom: 1px dotted #cccccc;
    display: table-cell;
    padding: 2px 5px;
    vertical-align: middle;
}

/* Fonds blanc pour nu fieldset imbriqué dans le fieldset principal*/
.fieldsetContent fieldset.cadre {
    background-color: white;
}

/* état de l'établissement : vert = ouvert et rouge = fermé  */
div.etablissement_etat5  #etablissement_etat {
    color: red !important;
    font-weight: bold;
}
div.etablissement_etat4  #etablissement_etat {
    color: green !important;
    font-weight: bold;
}

div.form-etablissement-action-3 #code,
div.form-etablissement-action-3 #libelle {
  font-weight: bold;
}

/* affichage des blocs comme les autres champs */
.bloc {
    vertical-align: middle;
    display: table-row;
}

/* dans un groupe, alignement à gauche de tous les champs compris */
.bloc > .group > .field {
    float: left;
}

/* dans un groupe, pas de pontillés sur les libellés des champs compris */
.bloc > .group > .field div.form-libelle{
    border: none;
}

/* dans un fieldset, alignement des valeurs, qu'elles soient
   issues de champs simples ou de champs groupés */
div.fieldsetContent > div.bloc > div.bloc.group > div.field > div.form-libelle,
div.fieldsetContent > div.bloc > div.bloc > div.field > div.form-libelle,
div.fieldsetContent > div.field > div.form-content {
    padding-left: 5px;
    padding-right: 0px;
}

/* Premier caractère des libellés en majuscule */
.form-libelle:first-letter,
.bloc-titre:first-letter,
th.title > span.name > a:first-letter {
    text-transform: uppercase;
}

th.title > span.name > a:before {
    content: ' ';
}

/* générateur */
div.choice { float:left; width:300px; margin:5px; padding:5px 10px;}

/* Mise en fond gris des valeurs contenues dans les champs groupés,
   pour les champs groupés
   et pour les champs regroupés sur plusieurs lignes */
/*.group div.form-content,
div.fieldsetContent > div.bloc > div.bloc > div.field > div.form-content
{
    background-color: #F0F0F1;
}*/
div#tab-etablissement_tous tr.etablissement_ouvert td.col-6 a,
div#tab-etablissement_referentiel_erp tr.etablissement_ouvert td.col-6 a {
    font-weight: bold;
    color: green !important;
}
div#tab-etablissement_tous tr.etablissement_ferme td.col-6 a,
div#tab-etablissement_referentiel_erp tr.etablissement_ferme td.col-6 a {
    font-weight: bold;
    color: red !important;
}
div#tab-etablissement_tous tr.tab-data.etablissement_archive td,
div#tab-etablissement_referentiel_erp tr.tab-data.etablissement_archive td{
    background-color: #c1b6a0;
}
div#tab-etablissement_tous .lastcol,
div#tab-etablissement_referentiel_erp .lastcol{
    display: none;
}

/**/
.widget_dossier_coordination_a_qualifier tr.ligne-rouge td,
div#tab-dossier_coordination_a_qualifier tr.tab-data.ligne-rouge td {
  background-color: #ebccd1 !important;
}
.widget_dossier_coordination_a_qualifier tr.ligne-vert td,
div#tab-dossier_coordination_a_qualifier tr.tab-data.ligne-vert td {
  background-color: #d6e9c6 !important;
}
div#tab-dossier_coordination_a_qualifier .lastcol {
  display: none;
}

/**
 * Mise en valeur d'un message important dans le widget et le listing
 * 'Mes messages non lus'
 */
.widget_message_mes_non_lu tr.ligne-rouge td,
div#tab-dossier_coordination_message_mes_non_lu tr.tab-data.ligne-rouge td {
  background-color: #ebccd1 !important;
}
#tab-dossier_coordination_message_mes_non_lu .lastcol {
  display: none;
}

/**
 * Bloc du statut de la réunion
 */
#reunion-status {
  padding: 10px;
  border: 1px solid #cdcdcd;
  background-color: #fefefe;
}
#reunion-status ul {
  list-style-position: inside;
  padding-left: 10px;
}
#reunion-status ul > li {
}
#reunion-status ul > li > ul {
  list-style-position: inside;
  padding-left: 10px;
}
#reunion-status ul > li > ul > li {
}

/**
 * WIDGET DASHBOARD - widget_direct_search.
 */
#dashboard .widget.widget_direct_search #direct-search {
  display: block;
}
#dashboard .widget.widget_direct_search #direct-search #filter {
    height: 46px;
    width: 66%;
    padding: 0 11px;
    margin-right: 0px;
    font-size : 17px;
    float: left;
}
#dashboard .widget.widget_direct_search #direct-search button {
    height: 46px;
}
#dashboard .widget.widget_direct_search #direct-search div.filter-icon {
    background: none;
    border: none;
    opacity: .54;
    outline: none;
    padding: 0 4px;
    line-height: 0;
}
#dashboard .widget.widget_direct_search .widget-content-wrapper {
  background-color: #dedede;
  padding: 5px;
}

/* Masquage/réaffichage d'un select */
.field-type-select { display: table-row; }
.field-type-selecthidden { display:none; }

/* Masquer un textearea */
.field-type-textareahidden, .field-type-referentielpatrimoinehidden{ display:none; }

/* Messages */
#sousform-dossier_coordination_message_contexte_dc .lastcol,
#sousform-dossier_coordination_message_contexte_di .lastcol { display: none; }
.non_lu {
    font-weight: bold;
}

/* Icônes */
.send-pv-to-referentiel-ads-16 { background-image: url("../img/connected-16x16.png"); }
.unzip-16 { background-image: url('../img/unzip-16x16.png'); }
.lock-16 { background-image: url("../img/lock-16x16.png"); }
.unlock-16 { background-image: url("../img/unlock-16x16.png"); }
.mark-16 { background-image: url("../img/mark-16x16.png"); }
.unmark-16 { background-image: url("../img/unmark-16x16.png"); }
.read-16 { background-image: url("../img/read-16x16.png"); }
.unread-16,
.piece_non_lu-16,
.dossier_coordination_message_mes_non_lu-16,
.dossier_coordination_message_tous-16 { background-image: url("../img/unread-16x16.png"); }
.watch-16,
.piece_suivi-16 { background-image: url("../img/watch-16x16.png"); }
.unwatch-16 { background-image: url("../img/unwatch-16x16.png"); }
.valid-16,
.piece_a_valider-16 { background-image: url("../img/valid-16x16.png"); }
.cancel-16 { background-image: url("../img/cancel-16x16.png"); }
.finalize-16 { background-image: url("../img/valid-16x16.png"); }
.unfinalize-16 { background-image: url("../img/cancel-16x16.png"); }
.insert-16 { background-image: url("../img/insert-16x16.png"); }
.loop-16 { background-image: url("../img/loop-16x16.png"); }
.dossier-16,
.dossier_coordination_a_cloturer-16,
.dossier_coordination_a_qualifier-16,
.dossier_instruction-16,
.dossier_instruction_a_affecter-16,
.dossier_instruction_a_qualifier-16,
.dossier_instruction_mes_plans-16,
.dossier_instruction_mes_visites-16 { background-image: url("../img/dossier-16x16.png"); }
.nouveau-dossier-16,
.dossier_coordination_nouveau-16 { background-image: url("../img/dossier-nouveau-16x16.png"); }
.tous-les-dossiers-16,
.dossier_coordination-16,
.dossier_instruction_tous-16,
.dossier_instruction_tous_visites-16,
.dossier_instruction_tous_plans-16 { background-image: url("../img/dossier-recherche-16x16.png"); }
.courrier_rar-16 { background-image: url("../img/pdf-ar-16x16.png"); }
.courrier_suivi-16 { background-image: url("../img/barcode-16x16.png"); }
.courrier-16,
.courrier_a_editer-16,
.courrier_attente_signature-16,
.courrier_attente_retour_ar-16,
.piece_bannette-16 {
  background-image: url("../img/pdf-16x16.png");
}
.sig-16 {
    background-image: url("../img/sig-16x16.png");
}
.geoaria-25 {
    background-image: url("../img/sig-25x25.png");
}
.sig-25 {
    background-image: url("../img/siginterne-localiser-25x25.png");
}
.localiser-sig-interne-16 {
    background-image: url("../img/siginterne-localiser-16x16.png");
}
.localiser-16 {
    background-image: url("../img/localiser-16x16.png");
}
.send-mail-16 { background-image: url("../img/send-mail-16x16.png"); }
/* Réunions */
.reunion-16 { background-image: url("../img/reunion-16x16.png"); }
.programmation-16 { background-image: url("../img/programmation-16x16.png"); }
.contact-16 { background-image: url("../img/contact-16x16.png"); }
.visite_mes_visites_a_realiser-16,
.visite-16 { background-image: url("../img/event-16x16.png"); }
.affectation-16 { background-image: url("../img/affectation-16x16.png");  }
/* DI */
.a_poursuivre-16 { background-image: url("../img/a_poursuivre-16x16.png");  }
.programme-16 { background-image: url("../img/programme-16x16.png");  }
/**/
.prev-16 { background-image: url("../img/prev-16x16.png");  }
.next-16 { background-image: url("../img/next-16x16.png");  }
.enjeu-erp-16 { background-image: url("../img/enjeu-erp-16x16.png"); }
.enjeu-ads-16 { background-image: url("../img/enjeu-ads-16x16.png"); }
.disable-enjeu-16 { background-image: url("../img/enjeu-disabled-16x16.png"); }
.external-link-16 { background-image: url("../img/external-link-16x16.png"); }

/**/
.formEntete {
    background-color:  rgb(243, 243, 243);
}
body.mainrubrik-administration-parametrage .formEntete {
    overflow: visible;
}
.formEntete fieldset {
  background-color: white;
}

div#portlet-actions {
  background-color: white;
  box-shadow:2px 2px 10px gray; 
}

.select_multiple_static{
  list-style: none;
}

/* Références cadastrales */

.om-form-button{
    background-repeat: no-repeat;
    padding-left: 18px;
    margin: 1px;
    cursor: pointer;
}

.field-type-referencescadastralesstatic .form-content {
  font-size: 10px;
}

/* Bascule recherche simple / avancée */

.switch_on {
    background-image: url("../img/switch-on-30x25.png") !important;
}

.switch_off {
    background-image: url("../img/switch-off-30x25.png") !important;
}

legend#toggle-advanced-display {
    background-position: left center !important;
    background-repeat: no-repeat !important;
    padding: 5px 5px 5px 35px !important;
    cursor: pointer;
}
/*Recherche avancée*/
#adv-search-adv-fields .field-type-text,
#adv-search-adv-fields .bloc.intervaldate {
    float:left;
    width: 210px;
}
#adv-search-adv-fields .field-type-select div.form-libelle,
#adv-search-adv-fields .field-type-text div.form-libelle,
#adv-search-adv-fields .bloc.intervaldate div.bloc-titre {
    display: block;
    font-weight: bold;
    padding: 0;
}
#adv-search-adv-fields  div.field-type-text,
#adv-search-adv-fields  div.field-type-select{
    width: 300px;
}

#adv-search-adv-fields .field-type-select div.form-content,
#adv-search-adv-fields .field-type-text div.form-content {
    display: block;
    padding: 3px;
    height: 20px;
}
#adv-search-adv-fields .field-type-select div.form-content select,
#adv-search-adv-fields .field-type-text div.form-content input {
    width:90%;
}
#adv-search-adv-fields .bloc.intervaldate .field-type-date {
    float:none;
    padding: 3px;
}
#adv-search-adv-fields .bloc.intervaldate .field-type-date div.form-libelle {
    display: table-cell;
}
#adv-search-adv-fields .bloc.intervaldate .field-type-date div.form-content {
    height: 20px;
}

/* Lien depuis un champ de formulaire
    Type de champ de formulaire : link */
a.lienFormulaire,
a.lienFormulaire:hover,
a.lienFormulaire:focus {
    color: #2270c3;
}

/* liste des courriers*/
.listecourrierFormulaire ul li{
    list-style-type: none;
}

/* Autocomplete */
.autocomplete-container {
    width: 325px;
}

input.autocomplete,
a.autocomplete,
span.autocomplete { 
    float: left; 
    display: inline;
    margin-right: 3px;
}

a.autocomplete { 
    cursor: pointer;
}

span.autocomplete { 
    cursor: help;
}

.info-16,
.check-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.check-16 {
    background-image:url("../img/check-16x16.png");
}

.info-16 {
    background-image:url("../img/info-16x16.png");
}

.autocomplete_criteria,
.autocomplete_table,
.autocomplete_ajout,
.autocomplete_identifiant,
.autocomplete_libelle,
.autocomplete_join,
.autocomplete_group_by,
.autocomplete_where {
    display: none;
}

.autocomplete-italique,
.autocomplete-italique:hover,
.autocomplete-italique:focus,
.autocomplete-italique:active {
    font-style: italic !important;
}

.autocomplete-gras,
.autocomplete-gras:hover,
.autocomplete-gras:focus,
.autocomplete-gras:active {
    font-weight: bold !important;
}

#id_new_etablissement_tous,
#libelle_new_etablissement_tous {
    display: none;
}

/* Classe pour cacher un élément bloc dans le layout */
div.bloc .hidden {
    display: none;
    margin-right: 3px;
}

/* Gestion du SIG dans l'entete de la programmation des visites */
#btn_tous.ui-state-disabled,
#btn_proches.ui-state-disabled {
    background-color: #265a88;
    border-color: #245580;
    color: #ffffff;
    opacity: 1;
}
#bloc_boutons {
    margin-bottom: 2em;
}
#bloc_boutons #form-content {
    min-height: 4em;
    line-height: 4em;
}
#bloc_boutons #form-content input,
#bloc_boutons #form-content select {
    height: 3em;
}
#bloc_boutons #form-content div {
    display: inline-block;
}
#bloc_boutons #form-content .bloc-titre {
    width: 100px;
    min-width: 100px;
    border-style: none;
}
#bloc_boutons #form-content .field-type-button .form-libelle,
#bloc_boutons #form-content:nth-child(2) .field-type-select .form-libelle {
    display: none;
}
#bloc_boutons #form-content .form-libelle {
    border-style: none;
    padding-right: 0px;
}

/*Colonne cachée du tableau des propositions de programmation*/
#tableau_propositions .type_visite,
#tableau_propositions .a_poursuivre,
#tableau_propositions .locaux_a_sommeil,
#tableau_propositions .retard,
#tableau_propositions .prioritaire,
#tableau_propositions .dossier_instruction_id {
    display: none;
}

/* Champ de recherche pour le datatable */
th.search_tab_cell span input.search_tab_input {
    width: 85%;
}

/* Message indiquant qu'il n'y a pas d'enregistrements */
td.dataTables_empty {
    text-align: center;
}

/* Bloc concernant la nombre d'enregistrement */
div.datatable_pagination_nb {
    margin-bottom: 5px;
}

/* Pagination du tableau datatable */
div.dataTables_paginate {
    float: right;
    margin-bottom: 5px;
    text-align: right;
}

/* Déplacer le footer dans l'entête du tableau */
table#tableau_propositions tfoot.search_tab_tfoot {
    display: table-header-group;
}

/* cursor grab sur programmation visite */
table#tableau_propositions tr.ui-draggable {
    cursor: grab;
}
table#tableau_propositions tr.ui-draggable-disabled {
    cursor: default;
}
table#tableau_propositions tr.ui-draggable-dragging {
    cursor: grabbing;
}


/* CSS concernant les boutons de pagination récupéré depuis la librairie */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  cursor: grab;
  color: #333333 !important;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333333 !important;
  border: 1px solid #cacaca;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111111 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
/* Fin CSS récupéré */

/* Sélection du technicien */
#bloc_entete, #agenda_selection_technicien {
    margin-bottom: 2em;
    padding: 5px;
    background-color: #DEDEDE;
    color: #000000;
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    text-align: center;
    min-height: 2em;
    line-height: 2em;
}

#agenda_selection_technicien {
    margin-top: 2em;
}

#agenda_selection_technicien #form-content .field-type-select {
    display: block;
    text-align: center;
}

#agenda_selection_technicien #form-content .field-type-select .form-libelle,
#agenda_selection_technicien #form-content .field-type-select .form-content {
    display: inline-block;
    padding: 0;
}

#filtre_technicien_info {
    float: left;
}

#bloc_agenda {
    margin-bottom: 20px;
}

/* formulaire générique des modifications de l'analyse */
.btn_retour_generic_form {
    margin-bottom: 20px;
}

.btn_modifier_generic_form {
    margin-top: 20px;
}


.bloc_titre_widget_analyses {
    padding: 2px;
}

.titre_widget_analyses {
    font-weight: bold; 
}

.contenu_widget_analyses {
    border: solid 1px #B7B7B7;
    background-color: #F1F1F1;
}


.liste_consultation_analyse {
    margin-left: 20px;
}

/* SWROD Listing des pièces du guichet unique */
table.tab-tab.document_numerise {
    margin-top: 20px;
}
.document_numerise .headerDate {
    padding-left: 15px;
}
.document_numerise .headerCat {
    padding-left: 35px;
}

/* Overlay établissements proches sur le dossier de coordination */
#tab_etablissements_proches tr.tab-data:not(.empty):hover {
    cursor: pointer;
    background-color: #2270C3 !important;
    color:#ffffff;
}

#tab_etablissements_proches tr.tab-data:not(.empty):hover td {
    background-color: inherit;
}

div#tab_etablissements_proches {
  min-width: 600px;
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
}

/**/


/* Bootstrap v3.2.0 */
/**/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
/**/
.table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}
.table td,
.table th {
  padding: 0;
}
.table th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  /*margin-bottom: 20px;*/
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table thead th {
    background-color: rgb(242, 242, 242);
    background-image: -moz-linear-gradient(center top , rgb(242, 242, 242), rgb(232, 232, 232));
    border: 1px solid rgb(220, 220, 220) !important;
}
.table thead th {
    vertical-align: bottom;
}
/**/
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
/**/
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.btn-xs .badge {
  top: 0;
  padding: 1px 5px;
}
a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #428bca;
  background-color: #fff;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}
/*GRID*/
.container {
/*  padding-right: 15px;
  padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
/*  padding-right: 15px;
  padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
}
.row {
/*  margin-right: -15px;
  margin-left: -15px;*/
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
/*  padding-right: 15px;
  padding-left: 15px;*/
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
a.list-group-item {
  color: #555;
}
a.list-group-item .list-group-item-heading {
  color: #333;
}
a.list-group-item:hover,
a.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #eee;
}
.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
  color: inherit;
}
.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
  color: #777;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
  color: inherit;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #c7ddef;
}
.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}
a.list-group-item-success {
  color: #3c763d;
}
a.list-group-item-success .list-group-item-heading {
  color: inherit;
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}
a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}
.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}
a.list-group-item-info {
  color: #31708f;
}
a.list-group-item-info .list-group-item-heading {
  color: inherit;
}
a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #31708f;
  background-color: #c4e3f3;
}
a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}
.list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
a.list-group-item-warning {
  color: #8a6d3b;
}
a.list-group-item-warning .list-group-item-heading {
  color: inherit;
}
a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}
a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}
.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}
a.list-group-item-danger {
  color: #a94442;
}
a.list-group-item-danger .list-group-item-heading {
  color: inherit;
}
a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}
a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}
.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
  text-align: justify;
}

/*
 * DASHBOARD
 */
/* DASHBOARD */
#dashboard {  }
* html #dashboard .column { position:relative; }
#dashboard .widget-add-action { clear: both; }
#dashboard .widget-header { border: 0 none; border-radius:0; margin: 0; padding:0; }
#dashboard .widget-header-move { cursor: move; }
#dashboard .widget-header .ui-icon { float: right; cursor: pointer; }
#dashboard .widget-content-wrapper { padding: 0; }
#dashboard .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
#dashboard .ui-sortable-placeholder * { visibility: hidden; }
#dashboard .widget-content { overflow: auto; }
/**/
/*#content {
  padding: 0;
  background-color: #f3f3f3;
  border: 0 none;
}
#title {
  background-color: #ff0000;
}*/
#dashboard .widget {
    clear: both;
    position: relative;
    width: auto;
    background-color: #fff;
    border-color: -moz-use-text-color #d3d3d3 #d3d3d3;
    border-image: none;
    border-radius: 0 0 3px 3px;

    border-style: solid;
    border-width: 1px;
    border: 0 none;

}
#dashboard  .widget .widget-header {
    background: -moz-linear-gradient(center top , #fafafa 0%, #e9e9e9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #d5d5d5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 20px;
    line-height: 20px;
    position: relative;
    padding: 5px 15px 5px 5px;
}
#dashboard .widget .widget-header h3 {
    color: #555;
    font-size: 15px;
    font-weight: 400;
    left: 10px;
    line-height: 18px;
    margin-right: 3em;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    top: 0;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 #ffffff;
}
#dashboard .widget-content-wrapper{
  background-color: #fff;
  border: 0 none;
  background-color: #fff;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

/**/
.box-icon {
    border-radius: 4px;
    display: block;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px auto;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.box-icon.rounded {
    border-radius: 50%;
}

.bg-info {
    background-color: #56bdf1;
    color: #fff;
}
.bg-danger {
    background-color: #e94b3b;
    color: #fff;
}
.bg-valid {
    background-color: #4DBD74;
    color: #fff;
}
.bg-warning {
    background-color: #F0AD4E;
    color: #fff;
}

.size-h2 {
    font-size: 30px;
}
.size-h3 {
    font-size: 24px;
}
.text-muted {
    color: #999;
}

.text-center {
    text-align: center;
}

.panel {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.panel-box {
    border: 0 none;
    display: table;
    height: 100%;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.panel-box ul.list-justified {
    list-style: none outside none;
}

.panel-box ul.list-justified > li {
    border: 1px solid #eee;
    border-width: 1px;
    display: table-cell;
    float: none;
    padding: 10px;
    width: 1%;
}

.panel-box ul.list-justified > li p {
    margin: 0;
}

.panel-box ul.list-by-3 {
    width: 100%;
    display: table-cell;
    border:  1px solid #eee;
    border-width: 0 0 1px 0;
}

.panel-box ul.list-by-3 > li {
    width: 33.33%;
    display: block;
    float: left;
    border-width: 0 0 0 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.panel-box ul.list-by-2 {
    width: 100%;
    display: table-cell;
    border:  1px solid #eee;
    border-width: 0 0 1px 0;
}

.panel-box ul.list-by-2 > li {
    width: 50%;
    display: block;
    float: left;
    border-width: 0 0 0 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* CHART */
div.chart {
  display: block;
  padding: 1em;
  min-width: 200px;
}
div.chart .chart-canvas {
  margin: 0 auto;
  display: block;
}
div.chart .chart-legend {
  display: block;
}
div.chart ul.pie-legend li {
  display: block;
  padding:2px;
}
div.chart ul.pie-legend li span {
  display: block;
  float: left;
  width:20px;
  height:15px;
  margin-right: 5px;
}
div.chart ul.pie-legend {
  list-style: none;
}





/* Ecran ANALYSE */

#titre_etat_analyse {
  display: inline-block;
}

#analyse_etat {
  margin-left: 20px;
  margin-right: 20px;
}

.btn_a_valider {
    font-size:14px;
}

.marge_essai_droite {
    padding-right: 10px;
}

.marge_essai_gauche {
    padding-right: 10px;
}

.icon_essai_realise_cancel,
.icon_essai_realise_check,
.icon_no_content {
    margin-right: 5px;
    display: inline-block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-image: url(../img/icons.png);
}

.icon_essai_realise_check {
    background-position: -64px -144px;
}

.icon_essai_realise_cancel {
    background-position: 0 -128px;
}

.icon_no_content {
    background-position: -32px -144px;
}

#tab-text-type_reglementation_applicable{
    width: 100%;
}

#tab-text-type_reglementation_applicable td {
    text-align: center;
}

.cell_description {
    display: none;
}

.btn_retour_overlay {
    margin-bottom: 20px;
}

.btn_ajouter_overlay {
    margin-top: 20px;
}

.liste_consultation_analyse div.documents_presentes {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

.liste_consultation_analyse div.documents_presentes ul {
    margin: 0;
    padding: 0;
}

#sousform-analyses .field-type-httpclick a{
    font-weight: bold;
}

.arrow-up-16 {
    background-image: url("../img/arrow-up-16x16.png");
    background-repeat: no-repeat;
    padding-left: 18px;
    margin: 1px;
    cursor: pointer;
}
.arrow-down-16 {
    background-image: url("../img/arrow-down-16x16.png");
    background-repeat: no-repeat;
    padding-left: 18px;
    margin: 1px;
    cursor: pointer;
}

.center_th_essai_realise {
    text-align: center !important;
    vertical-align: middle !important;
}

.overlay_title {
    min-height: 18px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.overlay_title h2:first-letter {
    text-transform: uppercase;
}


#analyse_bloc_prescriptions {
    margin-left: 5px;
}

#analyse_bloc_prescriptions p {
    margin-top: 5px;
}

#analyse_bloc_prescriptions div {
    margin-top: 5px;
    margin-left: 15px;
}

#analyse_bloc_prescriptions div div {
    margin-left: 30px;
}

.erreur_prescription,
.cache_fleche_bas_prescription,
.cache_fleche_haut_prescription {
    display: none;
}

.btns_prescription {
    margin: 0;
    padding: 0;
    vertical-align: middle !important;
    text-align: left;
}

.cercle_ordre {
    display: inline-block;
    margin: 10px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #2270C3;
    color: #fff;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    line-height: 16px;
}

.liste_consultation_analyse div.view_prescription {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 0;
    padding: 0;
}

.liste_consultation_analyse div.view_prescription ul {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

a.retour_visite { 
    background: url("../../om-theme/img/back-25x25.png") no-repeat left center transparent; 
    font-weight:bold; 
    margin:5px; 
    padding:5px 0 5px 28px; 
}


/* MEETING - START */
table.meeting tr.categorie td {
  background-color: #c8c8c8;
  font-weight: bold;
}
#meeting-plan-form-filter {
  float:right;
  border:1px dotted #000;
  padding: 5px 10px;
}
#meeting-plan-form-filter div#form-content {
  float:left;
}
#meeting-plan-form-filter input {
}
table.meeting a.dossier_instruction-16 {
    font-weight:  bold;
}
/* MEETING - END */

li.maj_first_letter:first-letter {
    text-transform: uppercase;
}

div#liste_courriers_enfants ul {
  margin-left: 10px;
}


/* Affichage des liens pour l'insertion de texte */
.field-type-httpclick {
  text-decoration: underline;
}

.field-type-httpclick a {
  background: url("../img/insert-16x16.png") no-repeat scroll left center transparent;
  font-style: italic;
  margin: 5px;
  padding: 5px 0 5px 18px;
}


/**/
#settings .row {
  column-width: 18em;
  column-gap: 1em; 
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}
#settings .item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}
#settings .well {
 position:relative;
 display: block;
}
#settings .list-group-title {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* Petites résolutions */
@media screen and (max-width: 1024px) {
    /* Lettre-type */
    #fieldset-form-om_lettretype-edition select#logo {
        width: 100px;
    }
    #fieldset-form-om_lettretype-edition input#logotop {
        width: 60px;
    }

    /**
     *  START - Overlay de la liste des propriétaires
     */

    /**
     * Liste des propriétaires
     */
    div#plot_owner_list {
      width: 300px;
      height: 500px;
    }
    /**
     * Formulaire d'ajout de contact depuis l'overlay dans lequel est ouvert
     * la liste des propriétaires de parcelles
     */
    div#plot_owner_add_form_contact {
      width: 400px;
      margin-left: 315px;
    }

    /**
     *  END - Overlay de la liste des propriétaires
     */
}


/* Grandes résolutions */
@media screen and (min-width: 1025px) {
    /* Lettre-type */
    #fieldset-form-om_lettretype-edition select#logo {
        width: 90%;
        max-width: 100px;
    }

    /**
     *  START - Overlay de la liste des propriétaires
     */

    /**
     * Liste des propriétaires
     */
    div#plot_owner_list {
      width: 600px;
      height: 700px;
    }
    /**
     * Formulaire d'ajout de contact depuis l'overlay dans lequel est ouvert
     * la liste des propriétaires de parcelles
     */
    div#plot_owner_add_form_contact {
      width: 600px;
      margin-left: 615px;
    }

    /**
     *  END - Overlay de la liste des propriétaires
     */
}

ul.ulnomargin {
   margin: 0;
   padding: 0;
}

/* 
 * CONTRAINTES
 */
div.noDataForm {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.noDataForm div.bloc-titre {
  font-weight: normal;
}
div.lien_contrainte_etablissement_groupe,
div.lien_contrainte_dossier_coordination_groupe {
  clear: both;
  width: auto;
  margin-top: 5px;
  background: none repeat scroll 0 0 #EDEDEF;
}
div.lien_contrainte_etablissement_groupe_header,
div.lien_contrainte_dossier_coordination_groupe_header {
  clear: both;
  width: auto;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background: none repeat scroll 0 0 #578BC7;
}
div.lien_contrainte_etablissement_groupe_header span.name,
div.lien_contrainte_dossier_coordination_groupe_header span.name {
  color: #FFFFFF;
  font-size: 13px;
  text-transform: capitalize;
}
div.lien_contrainte_etablissement_sousgroupe,
div.lien_contrainte_dossier_coordination_sousgroupe {
  clear: both;
  width: auto;
  background: none repeat scroll 0 0 #FFF;
}
div.lien_contrainte_etablissement_sousgroupe_header,
div.lien_contrainte_dossier_coordination_sousgroupe_header {
  clear: both;
  width: auto;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background: url("../img/ui-bg_glass_75_cbcbcb_1x400.png") repeat-x scroll 50% 50% #DEDEDE;
}
div.lien_contrainte_etablissement_sousgroupe_header span.name,
div.lien_contrainte_dossier_coordination_sousgroupe_header span.name {
  color: #FFFFFF;
  font-size: 12px;
  text-transform: capitalize;
}
table.lien_contrainte_etablissement_view,
table.lien_contrainte_dossier_coordination_view {
  border-style: none;
}
table.lien_contrainte_etablissement_view span.name,
table.lien_contrainte_dossier_coordination_view span.name {
  padding-left: 5px;
}
table.lien_contrainte_etablissement_view tr.tab-data td.col-1,
table.lien_contrainte_dossier_coordination_view tr.tab-data td.col-1,
div.lien_contrainte_etablissement_groupe div.lien_contrainte_etablissement_sousgroupe table thead tr.ui-tabs-nav th.contrainte_th_texte_complete,
div.lien_contrainte_dossier_coordination_groupe div.lien_contrainte_dossier_coordination_sousgroupe table thead tr.ui-tabs-nav th.contrainte_th_texte_complete,
div.lien_contrainte_etablissement_groupe div.lien_contrainte_etablissement_sousgroupe table.tab-tab tbody tr.tab-data td.contrainte_th_texte_complete,
div.lien_contrainte_dossier_coordination_groupe div.lien_contrainte_dossier_coordination_sousgroupe table.tab-tab tbody tr.tab-data td.contrainte_th_texte_complete {
  width: 70%;
}

.text_capitalize legend {text-transform: capitalize;}
fieldset.collapsed {background-color: transparent;}

.sig-16 {background-image: url('../img/sig-16x16.png');}
.recuperer_sig-16 {background-image: url('../img/recuperer_sig-16x16.png');}
.derecuperer_sig-16 {background-image: url('../img/derecuperer_sig-16x16.png');}

/**
 * Affichage de la liste des propriétaires de parcelles sur les établissements
 * et les dossiers de coordination
 */
div#plot_owner {
  float: left;
  display: table-row;
}

/**
 * Affichage de la liste dans un overflow pour un gain de place
 */
div#plot_owner_list {
  /*Taille définit dans les médias*/
  overflow: auto;
}

/**
 * Permet de désactiver les liens
 */
a[disabled] {
  pointer-events: none;
  color: gray;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

/**
 * Page settings (administration et paramétrage).
 */
#settings-live-search {
  text-align: center;
}
#settings-live-search #filter {
    height: 46px;
    width: 300px;
    padding: 0 11px;
    margin-right: 48px;
    font-size : 24px;
}
#settings-live-search div.filter-icon {
    background: none;
    border: none;
    opacity: .54;
    outline: none;
    padding: 0 4px;
    line-height: 0;
}

/**
 *
 */
.bloc-mode_lecture {
  padding: 10px;
}

/**
 * Interface avec le référentiel ADS.
 * - marqueur indiquant la connexion au référentiel ADS
 */
#interface_referentiel_ads,
#dossier_coordination_interface_referentiel_ads {
 display: inline-block;
    float: none;
    background-image: url("../img/connected-16x16.png");
    height: 16px;
    margin: 1px;
    width: 16px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
.bloc.group.dossier-ads-action-forcer {
  display: inline-block;
}

/**/
.chosen-container {
  font-size: 11px;
}

/**
 * Administration & Paramétrage
 * > Le contenu est en pleine page
 */
body.mainrubrik-administration-parametrage #menu {
  display: none;
}
body.mainrubrik-administration-parametrage #content {
  margin: 5px 0 0 0;
}

/**
 * Formulaire de l'établissement
 */
@media only screen and (max-width: 1152px) {
    .col_6 {width: 98.3333%;}
    div.form-etablissement-action-0 .form-libelle,
    div.form-etablissement-action-1 .form-libelle,
    div.form-etablissement-action-2 .form-libelle {width: 150px;}
}
div.form-etablissement-action-0 .form-libelle,
div.form-etablissement-action-1 .form-libelle,
div.form-etablissement-action-2 .form-libelle {width: 25%;}
.bloc-visites {}
.bloc-visites .field .form-libelle {
  width: 215px;
}
.bloc-visites .bloc-titre {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #cdcdcd;
    display: block;
    margin-top: 5px;
}
.sousbloc-visites .bloc-titre {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color: #434343;
    border-bottom: 1px dotted #ababab;
    margin-top: 0;
}
.sousbloc-visites {
  display: block;
}
.bloc-visites-securite {}
.bloc-visites-accessibilite {}
div.form-etablissement-action-3 #etablissement_type,
div.form-etablissement-action-3 #etablissement_categorie {
  font-weight: bold;
}
div.form-etablissement-action-3 #etablissement_type_secondaire {
  list-style-type: none;
}
div.form-etablissement-action-3 #etablissement_type_secondaire li {
  display: inline;
  padding: 0 5px 0 0;
}
div.form-etablissement-action-3 #etablissement_type_secondaire li::after {
  content: ",";
}
div.form-etablissement-action-3 #etablissement_type_secondaire li:last-child::after {
  content: "";
}

/**
 * Mise en valeur des champs 'nature' et 'dernier avis de visite SI' sur l'établissement
 */
fieldset#fieldset-form-etablissement_referentiel_erp-etablissement span#etablissement_nature,
fieldset#fieldset-form-etablissement_tous-etablissement span#etablissement_nature,
fieldset#fieldset-form-etablissement_referentiel_erp-suivi-des-visites span#si_derniere_visite_avis,
fieldset#fieldset-form-etablissement_tous-suivi-des-visites span#si_derniere_visite_avis {
  font-weight: bold;
}
/**
 * Dans les formulaires d'ajout et de modification d'un enregistrement de type
 * 'établissement' on force la visibilité des champs en lecture seule.
 */
.form-etablissement-action-0 input:read-only,
.form-etablissement-action-1 input:read-only {
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
}


/**
 * Gestion des "accordion" présents dans le contenu d'un form.
 */
#content .ui-accordion .ui-accordion-header {
  padding: .5em .5em .5em 2em;
}

/* Au survol d'un champs on le surligne légèrement.
 * Cela aidera a identifier les valeurs qui sont sur une
 * ligne mais éloignées de leur label.
 */
.field {
  transition-property: background;
  transition-duration: 500ms;
}
#form-container .field:hover {
  background: #e4f4ff;
}
#sousform-container .field:hover {
  background: #e4f4ff;
}
