/**
 * COMMON
 */

/* Logo */
#jqueryui #logo span.logo { margin: 0 0 0 0.5em; width: 135px; height: 50px; background-image: url("../img/logo.png"); background-repeat: no-repeat; display: block; text-indent: -9999px; }

/* Actions personnelles */
#actions a.actions-password, #actions a.actions-logout { padding:1px 0 1px 19px; background:transparent none no-repeat left center; }
#actions a.actions-password { background-image:url("../img/password-16x16.png"); }
#actions a.actions-logout { background-image:url("../img/logout-16x16.png"); }

/* Colonne grise pour affichage des icones dans le menu */
#menu div.rubrik { background: #fafafa url("../img/bg-menu.png") repeat-y scroll left center; }
#menu li.elem a { padding-left:21px; }

/* Fieldset plier/deplier */
legend { background-image: url("../img/legend-20x16.png") !important; background-position:left center !important; background-repeat: no-repeat !important; padding:5px 5px 5px 24px !important; }
legend.collapsible { background-image: url("../img/legend-collapsible-20x16.png") !important; cursor: pointer; }
legend.collapsed { background-image: url("../img/legend-collapsed-20x16.png") !important; cursor: pointer; }
fieldset.collapsed { border-color: transparent; background-color: transparent; }

/* Lien retour */
a.retour { background: url("../img/back-25x25.png") no-repeat left center transparent; font-weight:bold; margin:5px; padding:5px 0 5px 28px; }

/* Aucune decoration pour les liens de la colonne icons du tableau */
#content td.icons a:hover, #content th.icons a:hover { text-decoration:none; }

/* Gestion des classes de base pour les icones */
.om-prev-icon { background-position:left center; background-repeat: no-repeat; padding:1px 0 1px 19px; background-image: url("../img/om-prev-icon-16x16.png"); }
.om-icon { float:left; text-indent:-99999px; background-repeat: no-repeat; display:block; }
.om-icon-25 { width:25px; height:25px; margin:1px; background-image: url("../img/om-icon-25x25.png"); }
.om-icon-16 { width:16px; height:16px; margin:1px; background-image: url("../img/om-icon-16x16.png"); }
.om-icon-fix { display: inline-block; float: none;}
#shortlinks .om-icon { text-align: left;}

/* Icones en 16 pixels */
.arrow-right-16 { background-image:url("../img/arrow-right-16x16.png"); }
.add-16 { background-image: url("../img/add-16x16.png"); }
.delete-16 { background-image: url("../img/delete-16x16.png"); }
.edit-16 { background-image: url("../img/edit-16x16.png"); }
.copy-16 { background-image: url("../img/copy-16x16.png"); }
.pdf-16 { background-image: url("../img/pdf-16x16.png"); }

/* Icones en 25 pixels */
.add-25 { background-image: url("../img/add-25x25.png"); }
.delete-25 { background-image: url("../img/delete-25x25.png"); }
.generate-25 { background-image: url("../img/generate-25x25.png"); }
.print-25 { background-image: url("../img/print-25x25.png"); }

/**
 * SPECIFIC
 */

/* Couleur du header */
#header { background-image: none; background-color: #5489c6; }

/* Textes du header et du footer */
#actions, #shortlinks { color:#ffffff; }
#footer span { color:#434343; }

/* Liens du header et du footer */
#actions a, #actions a:active, #actions a:visited { color:#ffffff; }
#shortlinks a, #shortlinks a:active, #shortlinks a:visited { color:#ffffff; }
#footer a, #footer a:active, #footer a:visited { color:#2270C3; }

/* Couleur de fond du contenu et du footer */
#content, #footer span { background: #ffffff none; }

/* Items au survol et separateurs */
#menu li.elem:hover { background-color:#2270C3; }
#menu li.hr { background-color:#2270C3; height:0px; }

/* IE Fix */
* html #menu li { height:17px; }

/* Rubriks */
#menu h3 a { background-position: left center; background-repeat: no-repeat; margin-left: 22px; padding-left: 22px; }
.edition-20 { background-image: url('../img/edition-20x20.png'); }
.parametrage-20 { background-image: url('../img/parametrage-20x20.png'); }
.consultation-20 { background-image: url('../img/consultation-20x20.png'); }
.saisie-20 { background-image: url('../img/saisie-20x20.png'); }

/* Items */
.profil-16 { background-image: url('../img/profil-16x16.png'); }
.droit-16 { background-image: url('../img/droit-16x16.png'); }
.utilisateur-16 { background-image: url('../img/utilisateur-16x16.png'); }
.etat-16 { background-image: url('../img/pdf-16x16.png'); }
.sousetat-16 { background-image: url('../img/pdf-16x16.png'); }
.lettretype-16 { background-image: url('../img/pdf-16x16.png'); }
.collectivite-16 { background-image: url('../img/collectivite-16x16.png'); }
.reqmo-16 { background-image: url('../img/reqmo-16x16.png'); }
.download-16 { background-image: url('../img/download-16x16.png'); }
.statistiques-16 { background-image: url('../img/statistiques-16x16.png'); }
.archive-16 { background-image: url('../img/archive-16x16.png'); }
.search-16 { background-image: url('../img/search-16x16.png'); }
.pdf-16 { background-image: url('../img/pdf-16x16.png'); }
.modifier-16 { background-image: url('../img/modifier-16x16.png'); }
.supprimer-16 { background-image: url('../img/supprimer-16x16.png'); }
.edition-16 { background-image: url('../img/pdf-16x16.png'); }
.file-16 { background-image: url('../img/txt-16x16.png'); }
.txt-16 { background-image: url('../img/txt-16x16.png'); }
.zip-16 { background-image: url('../img/zip-16x16.png'); }

/**/
.pdf-25 { background-image: url('../img/pdf-25x25.png'); }
.csv-25 { background-image: url('../img/csv-25x25.png'); }

/* Table Specifics tr */
table.tab-tab tr.radiation-encours td { background-color: #FFA3A3; }
table.tab-tab tr.modification-encours td { background-color: #E8C98D; }
table.tab-tab tr.etat-trs td { background-color: #C1B6A0; }

/* Survol des liens des onglets */
#content .ui-tabs-nav a:hover { text-decoration:none; }

/* Fieldset */
fieldset.cadre { background:#EDEDEF none; }

/* Edition par bureau */
#bureau_edition .firstcol { width:200px; }
#bureau_edition table tr th { width:10%; text-align:center; font-weight:bold; height:30px; }

/* INSEE - Module Import */
#tab_insee { width: 100%; border:0px solid #ffffff; height: 430px; }

/* Module Recherche */
.searchSeparator { margin-top :20px; margin-bottom : 5px; margin-left: 25px; font-weight: bold; }

/* Popup */
.htmlonly { font-weight:normal; }
.htmlonly table { border:2px solid #c0c0c0; background-color:#c0c0c0; font-weight: normal; }
.htmlonly table .tabCol td { padding-left:5px; padding-right:5px; font-weight: bold; text-align:center; }
.htmlonly table .tabData { background-color: #f3f3f3; }

/* Dashboard */
#dashboard { }
#dashboard .col { float:left; width:50%; }
* html #dashboard .col { position:relative; }
#dashboard .boite { border:1px solid #d3d3d3; -moz-border-radius:4px; -webkit-border-radius:4px; margin:3px 0 3px 3px; padding:5px; }
#dashboard .boite h4 { margin: 0 0 5px 0; border-bottom: 1px dotted #ababab; font-size: 14px; }
#dashboard #rechercheform { float:none; border:0 none; background:none; }
#dashboard .datetableau { text-align:center; font-size:18px; font-weight:bold; }
#dashboard ul.menu-friendly { list-style-image:none; list-style-type: none; padding-left: 0; }
#dashboard ul.menu-friendly li { float:left; width: 30%; display: block; border-style: solid; border-color: #ffffff; border-width: 1px 2px 2px 1px; }
#dashboard ul.menu-friendly li.col2, #dashboard ul.menu-friendly li.col5, #dashboard ul.menu-friendly li.col8 { clear: right; }
#dashboard ul.menu-friendly li.col0, #dashboard ul.menu-friendly li.col3, #dashboard ul.menu-friendly li.col6 { clear: left; }
#dashboard ul.menu-friendly li a:hover, #dashboard ul.menu-friendly li:hover { border-color: #ababab; background-color: #f3f3f3; }
* html #dashboard ul.menu-friendly li { height: 110px; }
*+html #dashboard ul.menu-friendly li { height: 115px; }
* html #dashboard ul.menu-friendly li a { border: 1px solid #ffffff; border-right: 2px; border-bottom: 2px; height: 110px; }
* html #dashboard ul.menu-friendly li a:hover { border: 1px solid #ababab; border-right: 2px; border-bottom: 2px; }
#dashboard ul.menu-friendly li a { display: block; padding: 5px; }
#dashboard ul.menu-friendly li a:hover { text-decoration: none; }
#dashboard ul.menu-friendly li span.link { display: block; font-weight: bold; }
#dashboard ul.menu-friendly li span.description { color: #ababab; display: block; }
#dashboard span.description { color: #ababab; } 
#dashboard .formulaire div.field { margin-bottom: 5px; margin-top: 5px; }

/**/
.subtitle { border-bottom: 1px dotted grey; }
.paragraph { margin: 20px 0 0 0; }
